name: dynamodb-pull
on:
  pull_request:
    paths:
      - dynamodb/**
jobs:
  build-dynamodb:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          sparse-checkout: dynamodb
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          registry-url: https://registry.npmjs.org
      - name: Install winglang
        run: npm i -g winglang
      - name: Install dependencies
        run: npm install --include=dev
        working-directory: dynamodb
      - name: Test
        run: |
          for testfile in tests/*.test.w; do
            wing test "$testfile"
          done
        working-directory: dynamodb
      - name: Pack
        run: wing pack
        working-directory: dynamodb
