name: postgres-pull
on:
  pull_request:
    paths:
      - postgres/**
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          sparse-checkout: postgres
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          registry-url: https://registry.npmjs.org
      - name: Install winglang
        run: npm i -g winglang
      - name: Install dependencies
        run: npm install --include=dev
        working-directory: postgres
      - name: Test
        run: wing test *.test.w
        working-directory: postgres
      - name: Test
        run: "[ -d test ] && wing test test/*.test.w"
        working-directory: postgres
